@page "/friends"
@using Client.Services
@inject AuthStateProvider AuthStateProvider
<h3>Friends</h3>

<form>
    <div class="mb-2">
        <label for="friendAddName" class="form-label">Add Friend</label>
        <input type="text" class="form-control" id="friendAddName" aria-describedby="friendAddName"
               @bind-value="_friendAddName" placeholder="Name">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var friend in _friends)
    {
        <tr>
            <td>@friend</td>
            <td class="btn-container">
                <button class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="white"
                         class="bi bi-chat-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9 9 0 0 0 8 15"/>
                    </svg>
                    <span>Chat</span>
                </button>
                <button class="btn btn-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                         class="bi bi-person-x-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708"/>
                    </svg>
                    <span>Remove</span>
                </button>
            </td>
        </tr>
    }
    </tbody>

</table>

@code {
    List<string> _friends = ["Flotschi123", "dloadinq"];
    string _friendAddName = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

}